Package: libkea
Version: 1.4.14-1
Section: science
Priority: optional
Architecture: amd64
Depends: libgdal30, libhdf5-cpp-103, libproj22
Maintainer: Environment Systems Ltd. (developers@envsys.co.uk)
Description: An HDF5 Based Raster File Format
  KEALib provides an implementation of the GDAL data model. The format supports raster attribute tables, image pyramids, meta-data and in-built statistics while also handling very large files and compression throughout.
 Based on the HDF5 standard, it also provides a base from which other formats can be derived and is a good choice for long term data archiving. An independent software library (libkea) provides complete access to the KEA image format and a GDAL driver allowing KEA images to be used from any GDAL supported software.
 Development work on this project has been funded by Landcare Research. For more information see http://kealib.org
