name: Test Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-linux:
    name: Test Linux
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: conda-incubator/setup-miniconda@v2
      with:
        miniforge-version: latest
    - name: Install Dependencies
      shell: bash -l {0}
      run: |
        conda install cmake awkward cxx-compiler hdf5 python numpy libgdal pybind11 highfive
    - name: Cmake
      shell: bash -l {0}
      run: |
        mkdir build
        cd build
        cmake -D CMAKE_INSTALL_PREFIX=$CONDA_PREFIX -D CMAKE_PREFIX_PATH=$CONDA_PREFIX -D LIBKEA_WITH_GDAL=ON ..
    - name: make
      shell: bash -l {0}
      run: |
        cd build
        make
    - name: make install
      shell: bash -l {0}
      run: |
        cd build
        make install
    - name: make test
      shell: bash -l {0}
      run: |
        cd build
        ctest --output-on-failure
    - name: check gdal
      shell: bash -l {0}
      run: gdal_translate --formats | grep KEA
    - name: Cmake_Python
      shell: bash -l {0}
      run: |
        cd python
        mkdir build
        cd build
        cmake -D CMAKE_BUILD_TYPE=Release -D CMAKE_INSTALL_PREFIX=$CONDA_PREFIX -D CMAKE_PREFIX_PATH=$CONDA_PREFIX ..
    - name: Make_Python
      shell: bash -l {0}
      run: |
        cd python/build
        make
    - name: Install_Python
      shell: bash -l {0}
      run: |
        cd python/build
        make install
    - name: Test_Python
      shell: bash -l {0}
      run: |
        cd python/build
        ctest --output-on-failure

  build-osx:
    name: Test OSX
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - uses: conda-incubator/setup-miniconda@v2
      with:
        miniforge-version: latest
    - name: Install Dependencies
      shell: bash -l {0}
      run: |
        conda install cmake "awkward>=2.5.0" cxx-compiler hdf5 python numpy libgdal pybind11 highfive
    - name: Cmake
      shell: bash -l {0}
      run: |
        mkdir build
        cd build
        SANITIZE="-fsanitize=address,alignment,unreachable,vla-bound,vptr"
        cmake -D CMAKE_INSTALL_PREFIX=$CONDA_PREFIX -D CMAKE_PREFIX_PATH=$CONDA_PREFIX -D LIBKEA_WITH_GDAL=ON -DCMAKE_EXE_LINKER_FLAGS="$SANITIZE" -DCMAKE_CXX_FLAGS="$SANITIZE" ..
    - name: make
      shell: bash -l {0}
      run: |
        cd build
        make
    - name: make install
      shell: bash -l {0}
      run: |
        cd build
        make install
    - name: make test
      shell: bash -l {0}
      run: |
        cd build
        export ASAN_OPTIONS="verbosity=1:malloc_context_size=20"
        ctest --output-on-failure
    - name: check gdal
      shell: bash -l {0}
      run: gdal_translate --formats | grep KEA
    - name: Cmake_Python
      shell: bash -l {0}
      run: |
        cd python
        mkdir build
        cd build
        cmake -D CMAKE_BUILD_TYPE=Release -D CMAKE_INSTALL_PREFIX=$CONDA_PREFIX -D CMAKE_PREFIX_PATH=$CONDA_PREFIX ..
    - name: Make_Python
      shell: bash -l {0}
      run: |
        cd python/build
        make
    - name: Install_Python
      shell: bash -l {0}
      run: |
        cd python/build
        make install
    - name: Test_Python
      shell: bash -l {0}
      run: |
        cd python/build
        ctest --output-on-failure
    
  build-windows:
    name: Test Windows
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v2
    - uses: conda-incubator/setup-miniconda@v2
      with:
        miniforge-version: latest
    - uses: egor-tensin/vs-shell@v2
      with:
        arch: x64    
    - name: Install Dependencies
      shell: bash -el {0}
      run: |
        conda install cmake "awkward>=2.5.0" hdf5 python numpy libgdal pybind11 highfive
    - name: Cmake
      shell: bash -el {0}
      run: |
        mkdir build
        cd build
        cmake -G "NMake Makefiles" -D CMAKE_BUILD_TYPE=Release -D CMAKE_INSTALL_PREFIX=$CONDA_PREFIX/Library -D CMAKE_PREFIX_PATH=$CONDA_PREFIX/Library -D LIBKEA_WITH_GDAL=ON ..
    - name: nmake
      shell: bash -el {0}
      run: |
        cd build
        nmake
    - name: nmake install
      shell: bash -el {0}
      run: |
        cd build
        nmake install
    - name: nmake test
      shell: bash -el {0}
      run: |
        cd build
        ctest --output-on-failure
    - name: check gdal
      shell: bash -el {0}
      run: gdal_translate --formats | grep KEA
    - name: Cmake_Python
      shell: bash -el {0}
      run: |
        cd python
        mkdir build
        cd build
        cmake -G "NMake Makefiles" -D CMAKE_BUILD_TYPE=Release -D CMAKE_INSTALL_PREFIX=$CONDA_PREFIX/Library -D CMAKE_PREFIX_PATH=$CONDA_PREFIX/Library ..
    - name: Make_Python
      shell: bash -el {0}
      run: |
        cd python/build
        nmake
    - name: Install_Python
      shell: bash -el {0}
      run: |
        cd python/build
        nmake install
    - name: Test_Python
      shell: bash -el {0}
      run: |
        cd python/build
        ctest --output-on-failure
